.bookpage{
width: 400px;
height: 600px;
color: white;
margin-left: auto;
margin-right: auto;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
background-image: url(back2.jpg);
background-size: cover;
padding: 10px;
border: 7px solid rgb(137, 128, 128);
border-radius: 5px;

}
.insight{
color: white;

}

.hrstyle{
width: 23%;

}

.author{

display: inline;
position: relative;
color: white;
top: 245px;
font-family: Georgia;
font-size: medium;

}

.booktitle{

font-family: 'Courier New', Courier, monospace;
font-size: larger;
text-align: center;
position: relative;
top: 30px;

}

.id{
width: 400px;
position: relative;
top: 175px;



}

.pub{
font-size: medium;
position: relative;
top: 210px;
left: 340px;

}
.ed{
color: white;
font-size: medium;
font-family: Verdana;
position: relative;
top: 140px;

}

.subtitle{
font-family: Tahoma;
font-size: large;
position: relative;
top: 40px;

}
.mypic{
position: relative;
top: 190px;
left: 260px;
width: 95px;
height: 100px;
background-size: cover;
}














